.novoCard{
    width: 600px;
    margin: 0 auto;
    background-color: black;
    color: #fff;
}

.cardVermelho{
    width: 600px;
    margin: 0 auto;
    background-color: red;
    color: #110303;
}